@font-face {
  font-family: 'Amatic-Bold';
  src: URL("../../fonts/amatic/Amatic-Bold.ttf") format("ttf"); }

@font-face {
  font-family: 'AmaticSC-Regular';
  src: URL("../../fonts/amatic/AmaticSC-Regular.ttf") format("ttf"); }
