@import url("https://fonts.googleapis.com/css?family=Amatic+SC");
@font-face {
  font-family: 'Amatic-Bold';
  src: URL("../../fonts/amatic/Amatic-Bold.ttf") format("ttf"); }

body {
  padding-top: 135px; }

.box-1 {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100px;
  background-color: #222121; }
  .box-1 #logo {
    width: 150px;
    height: 60px;
    position: absolute;
    top: 25px;
    left: 15px; }
  .box-1 #sub-logo {
    position: absolute;
    right: 10px;
    top: 32px; }
  .box-1 #list-header-1 {
    visibility: hidden; }

.box-3 {
  width: 100%; }
  .box-3 .presentation-dogs {
    position: relative;
    z-index: 0;
    width: 100%; }
    .box-3 .presentation-dogs .img-dog {
      width: 100%;
      height: 300px; }
    .box-3 .presentation-dogs #title-dog-1 {
      position: absolute;
      top: 75px;
      left: 15px;
      font-family: 'Amatic SC';
      font-size: 50px; }

@media (min-width: 576px) {
  #title-dog-1 {
    margin-left: 40px; } }

@media (min-width: 750px) {
  .box-1 #list-header-1 {
    visibility: visible;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-right: 100px;
    margin-top: 65px; }
    .box-1 #list-header-1 li {
      margin-right: 10px; }
    .box-1 #list-header-1 .vertical-line {
      color: #d0cccc; }
    .box-1 #list-header-1 .text-li a {
      font-family: 'Amatic SC';
      font-size: 16px;
      color: #d0cccc; }
    .box-1 #list-header-1 .icon-social-net {
      margin-right: 5px; }
    .box-1 #list-header-1 #last-social-net {
      margin-right: 10px; }
    .box-1 #list-header-1 .icon-link {
      min-width: 25px;
      min-height: 25px;
      width: 25px;
      height: 25px;
      border-radius: 50px; }
  #title-dog-1 {
    margin-left: 80px; } }

.box-2 {
  width: 100%;
  background: #2f2e2e;
  position: fixed;
  z-index: 20;
  top: 100px; }
  .box-2 #list-header-1-responsive {
    position: absolute;
    right: 10px;
    top: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .box-2 #list-header-1-responsive li {
      margin-right: 6px; }
    .box-2 #list-header-1-responsive .vertical-line {
      color: #d0cccc; }
    .box-2 #list-header-1-responsive .text-li a {
      font-family: 'Amatic SC';
      font-size: 16px;
      color: #d0cccc; }
    .box-2 #list-header-1-responsive .icon-social-net {
      margin-right: 3px; }
    .box-2 #list-header-1-responsive #last-social-net {
      margin-right: 6px; }
    .box-2 #list-header-1-responsive .icon-link {
      min-width: 25px;
      min-height: 25px;
      width: 25px;
      height: 25px;
      border-radius: 50px; }

@media (min-width: 750px) {
  #list-header-1-responsive {
    visibility: hidden; } }

#btn-menu {
  display: none; }

#menu-icon {
  width: 48px;
  height: 48px;
  margin-top: 3px;
  margin-left: 2px; }

.box-2 label {
  display: none;
  width: 55px;
  height: auto; }

.box-2 label:hover {
  cursor: pointer;
  background: #2f2e2e; }

.menu ul {
  margin: 0;
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.menu li:hover {
  background: #535353; }

.menu li a {
  display: block;
  padding: 3px 20px;
  color: #d0cccc;
  text-decoration: none;
  font-family: 'Amatic SC';
  font-size: 18px; }

@media (max-width: 750px) {
  #logo {
    left: 60px; }
  .box-2 {
    height: 55px; }
  .box-2 label {
    display: block; }
  .menu {
    position: absolute;
    z-index: 2;
    top: 50px;
    background: #2f2e2e;
    width: 100%;
    margin-left: -100%;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    z-index: 1000; }
  .menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  .menu li {
    border-top: 1px solid #dbdbdb; }
  #btn-menu:checked ~ .menu {
    margin: 0; } }

.title-text {
  text-align: center; }
  .title-text h2 {
    color: #23b1c4;
    font-weight: normal;
    font-size: 3em;
    font-family: 'Amatic SC'; }

@media (min-width: 576px) {
  .title-text h2 {
    font-size: 3.5em; } }

@media (min-width: 750px) {
  .title-text h2 {
    font-size: 4em; } }

@media (min-width: 992px) {
  .title-text h2 {
    font-size: 5em; } }

.dogs-pointer:hover .box-dog-1 {
  background-color: #fff; }

.box-dog-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  background-color: #ededed; }
  .box-dog-1 h3 {
    text-align: center;
    font-size: 2em;
    font-family: 'Amatic SC';
    color: #797676; }
