@import "_colors.sass"


// Mobile first
// BOX 1
.box-1
  position: fixed
  top: 0
  z-index: 10
  width: 100%
  height: 100px
  background-color: $header-box1-color
  #logo
    width: 150px
    height: 60px
    position: absolute
    top: 25px
    left: 15px
  #sub-logo
    position: absolute
    right: 10px
    top: 32px
  #list-header-1
    visibility: hidden


// BOX 3
// Mobile first
.box-3
  width: 100%
  .presentation-dogs
    position: relative
    z-index: 0
    width: 100%
    .img-dog
      width: 100%
      height: 300px
    #title-dog-1
      position: absolute
      top: 75px
      left: 15px
      font-family: 'Amatic SC'
      font-size: 50px
    #get-puppy
      position: absolute
      right: 20px
      bottom: -60px
      display: none
      img
        border-radius: 100px

// BOX 3
// Mobile first
// REGULAR SMARTPHONES
@include regular-smartphone
  #title-dog-1
    margin-left: 40px




// BOX 1 Tablet
@include tablet
  .box-1
    #list-header-1
      visibility: visible
      display: flex
      list-style: none
      flex-flow: row nowrap
      justify-content: flex-end
      margin-right: 100px
      margin-top: 65px
      li
        margin-right: 10px
      .vertical-line
        color: $gray
      .text-li a
        font-family: 'Amatic SC'
        font-size: 16px
        color: $gray
      .icon-social-net
        margin-right: 5px
      #last-social-net
        margin-right: 10px
      .icon-link
        min-width: 25px
        min-height: 25px
        width: 25px
        height: 25px
        border-radius: 50px
  // BOX 3
  // Mobile first
  // REGULAR SMARTPHONES
  #title-dog-1
    margin-left: 80px
  .box-3
    .presentation-dogs
      #get-puppy
        display: block
        position: absolute
        right: 20px
        bottom: -60px
        img
          border-radius: 100px


// BOX 2
// CLARIFICATION: BOX 2 does not respect mobile first
.box-2
  width: 100%
  background: $header-box2-color
  position: fixed
  z-index: 20
  top: 100px
  #list-header-1-responsive
    position: absolute
    right: 10px
    top: 15px
    display: flex
    list-style: none
    flex-flow: row nowrap
    justify-content: center
    li
      margin-right: 6px
    .vertical-line
      color: $gray
    .text-li a
      font-family: 'Amatic SC'
      font-size: 16px
      color: $gray
    .icon-social-net
      margin-right: 3px
    #last-social-net
      margin-right: 6px
    .icon-link
      min-width: 25px
      min-height: 25px
      width: 25px
      height: 25px
      border-radius: 50px
@include tablet
  #list-header-1-responsive
    visibility: hidden
#btn-menu
  display: none
#menu-icon
  width: 48px
  height: 48px
  margin-top: 3px
  margin-left: 2px

.box-2 label
  display: none
  width: 55px
  height: auto

.box-2 label:hover
  cursor: pointer
  background: $header-box2-color

.menu ul
  margin: 0
  list-style: none
  padding: 0
  display: flex
  justify-content: space-between

.menu li:hover
  background: rgb(83, 83, 83)
.menu li a
  display: block
  padding: 3px 20px
  color: $gray
  text-decoration: none
  font-family: 'Amatic SC'
  font-size: 18px

@media (max-width:750px)
  #logo
    left: 60px
  .box-2
    height: 55px
  .box-2 label
    display: block

  .menu
    position: absolute
    z-index: 2
    top: 50px
    background: $header-box2-color
    width: 100%
    margin-left: -100%
    transition: all 0.5s
    z-index: 1000

  .menu ul
    flex-direction: column

  .menu li
    border-top:  1px solid #6b6565

  #btn-menu:checked ~ .menu
    margin: 0
