#box-dogs
  text-align: center

.dogs-pointer
  display: inline-block
.dogs-pointer:hover
  .box-dog-1
    background-color: #fff
  .box-dogs-2
    opacity: 0.8

// dog-box. There are 2 class of boxs
// This is the first
.box-dog-1
  display: flex
  flex-flow: column wrap
  background-color: $light-gray
  max-width: 300px
  margin-bottom: 20px
  h3
    text-align: center
    font-size: 2em
    font-family: 'Amatic SC'
    color: $strong-gray

// Second type of dog boxs
.box-dogs-2
  max-width: 300px
#dogs-3
  .box-dogs-2
    margin-right: 20px
    margin-bottom: 10px
